/* @media(max-width:768px){
    p{font-size: 77px;
    background-color: black;}


} */

/* @media(orientation: landscape) {
    body{background-color: blue;}
    
} */
/* .box{
    background-color: blueviolet;
height: 200px;
width: 200px;

} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.box {
  flex: 1;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
}

.box1 { background: #007bff; }
.box2 { background: #28a745; }
.box3 { background: #ff9800; }
@media (max-width: 320px) {
  body{background-color: red};
    
  .container {
    
    display: block;
  }

  .box {
    margin-bottom: 15px;
  }
}
@media (min-width:600px){
  body{background-color: yellow;}
  
} */
 /* @media(max-width:320px){
  body{background-color: red;

  }
 } */
 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 1rem;

 }
 .logo{
  color: #fff;
  font-size: 1.5rem;

 }
 .menu{
  display: none;
  flex-direction: column;
 }
 ul{
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block;


 }
 .hamburger{
  font: 2rem;
  color: #fff;
  cursor: pointer;
display: none;
 }
 @media(max-width:768px){
 .menu{
display: flex;
flex-direction: row;
background: none;
width: auto;
position: static;
 }
 .hamburger{
  display: flex;

 }
 }
